<!DOCTYPE html>
<html>
	<head>
		<title>About Student</title>
	</head>
	<body>
		<div>
			<p>Welcome to the student site! You can view students, their comments, and manipulate the data with a proper login! Also there is a cool video so check that out!</p>
		</div>
	</body>
</html>
