<!DOCTYPE html>
<html>
	<nav>
	 <ul>
 		<li><a href="/">Home</a></li>
 		<li><a href="/about">About</a></li>
 		<li><a href="/contact">Contact</a></li>
 		<li><a href="/students">Student</a></li>
		<li><a href="/comment">Comments</a></li>
		<li><a href="/video">Video</a></li>
		<li><a href="/login">Login</a></li>
 	</ul>
	</nav>
</html>
